/* ContainerTI.css */

.WrapperTI {
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-start; */
    position: relative;
    /* background-color: rgba(255, 0, 0, 0.276); */
}



.Title-TI {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: rgba(255, 255, 255, 0.7);
    /* Fondo semitransparente */
}

.Title-TI h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 8.5rem;
    font-weight: bold;

    line-height: 1.2;
}

.Title-TI h1 span {
    font-weight: lighter;
}