:root {
    --black: #020203;
    --Spring-green: #1AFA91;
    --Aureolin: #FFE539;
    --Aqua: #54FAFD;
    --white: #ffffffff;
    --white-C-text: #6D6C6C;
    --background: #121213;
}
@tailwind base;
html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: 'San Francisco', Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-size: 80.5%;
}
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
